include *.txt
include *.rst
recursive-include docs *
include VERSION

# added by check_manifest.py
include *.py
include .coveragerc
recursive-include hordak *.json
recursive-include example_project *.txt
recursive-include hordak *.html
