{% extends 'hordak/base.html' %}

{% block page_name %}
    {% if result %}
        Import Bank Statement: Done
    {% else %}
        Import Bank Statement: Start Import
    {% endif %}
{% endblock %}

{% block content %}
    {% if not result %}
        <form action="{% url 'hordak:import_execute' transaction_import.uuid %}" method="post">
            {% csrf_token %}
            {% block form_content %}
                <input type="submit" value="Begin import" class="btn btn-primary btn-lg pull-right">
            {% endblock %}
        </form>

    {% else %}

        {% block info_boxes %}
            {% include 'hordak/statement_import/_import_info_boxes.html' with result=result only %}
        {% endblock %}

        {% block errors %}
            {% include 'hordak/statement_import/_import_errors.html' with result=result only %}
        {% endblock %}

        {% block actions %}
        <a href="{% url 'hordak:transactions_reconcile' %}" class="btn btn-primary btn-lg pull-right">Reconcile Transactions</a>
        {% endblock %}

    {% endif %}
{% endblock %}
