{% extends 'hordak/base.html' %}

{% block page_name %}Import Bank Statement{% endblock %}
{% block page_description %}Upload a CSV file of your bank statement.{% endblock %}

{% block content %}
    <form action="{% url 'hordak:import_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% block form_content %}
            {% include 'hordak/partials/form.html' with form=form %}
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="Continue...">
        {% endblock %}
    </form>
{% endblock %}
