{% extends 'hordak/base.html' %}

{% block page_name %}Import Bank Statement: Dry Run{% endblock %}
{% block page_description %}Let's check the data looks ok{% endblock %}

{% block content %}
    {% if not result %}
        <form action="{% url 'hordak:import_dry_run' transaction_import.uuid %}" method="post">
            {% csrf_token %}
            {% block form_content %}
            <input type="submit" value="Check the data..." class="btn btn-primary btn-lg pull-right">
            {% endblock %}
        </form>
    {% else %}

        {% block info_boxes %}
            {% include 'hordak/statement_import/_import_info_boxes.html' with result=result only %}
        {% endblock %}

        {% block errors %}
            {% include 'hordak/statement_import/_import_errors.html' with result=result only %}
        {% endblock %}

        <form action="{% url 'hordak:import_execute' transaction_import.uuid %}" method="post">
            {% csrf_token %}
            {% block action_form %}
            <input type="submit" value="Begin import" class="btn btn-primary btn-lg pull-right">
            {% endblock %}
        </form>
    {% endif %}
{% endblock %}
