{% extends 'hordak/base.html' %}

{% block page_name %}Create account{% endblock %}
{% block page_description %}Create a new account{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% include 'hordak/partials/form.html' with form=form %}

        <p>
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="Create account">
            <a href="{% url 'hordak:accounts_list' %}">Cancel</a>
        </p>
    </form>
{% endblock %}
