{% extends 'hordak/base.html' %}

{% block page_name %}Create Transaction{% endblock %}
{% block page_description %}Move money between accounts{% endblock %}

{% block content %}
    <form action="{% url 'hordak:transactions_create' %}" method="post">
        {% csrf_token %}
        {% block form_content %}
            {% include 'hordak/partials/form.html' with form=form %}
            <p>
                <input type="submit" value="Create Transaction" class="btn btn-primary btn-lg pull-right">
                <a href="{% url 'hordak:accounts_list' %}" class="btn btn-lg pull-right">Cancel</a>
            </p>
        {% endblock %}
    </form>

{% endblock %}
